.preview-image {
    position: relative;
    padding: 25px;
    text-align: center;
}

.preview-image img {
    width: 100%;
    max-width: 900px;
    object-fit: cover;
}

.hp-row.hp--adminNotfound .field-radio {
    width: 33.333333%;
}

@media screen and (max-width: 782px) {
    .hp-row.hp--adminNotfound .field-radio {
        width: 50%;
    }
}

@media screen and (max-width: 480px) {
    .hp-row.hp--adminNotfound .field-radio {
        width: 100%;
    }
}
